# Google Form Integration

GOOGLE_FORM_URL=https://docs.google.com/forms/d/e/1FAIpQLSe96tstr1XfGEWx4nPtqR0zqu7_dCRiTuLvcEyafXw_gHiBjA/formResponse

GOOGLE_FORM_ENTRY_NAME=entry.2143248118

GOOGLE_FORM_ENTRY_DESIGNATION=entry.468019024

GOOGLE_FORM_ENTRY_ORG=entry.2068520384

GOOGLE_FORM_ENTRY_PHONE=entry.1669830901

GOOGLE_FORM_ENTRY_EMAIL=entry.2064044752

GOOGLE_FORM_ENTRY_CITY=entry.511933045

GOOGLE_FORM_ENTRY_SERVICE=entry.1983076148

GOOGLE_FORM_ENTRY_DATE=entry.630093863

GOOGLE_FORM_ENTRY_MESSAGE=entry.1045820864
